body{
    height: 100vh;
    background: linear-gradient(
        #8593ff,
        #213BFF
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}

.button {
    background-color: #bec5fe;
}

.diceDropDownParentContainer{
    background-color: #bec5fe;
}

.headerGrid{
    background-color: #bec5fe;
}

.diceContainer{
    background-color: #bec5fe;
}