body{
    height: 100vh;
    background: linear-gradient(
        #c1c1c1,
        #7d7d7d
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}

#character-name{
    color: #000000;
}

.button {
    background-color: #eeeeee;
}

.diceDropDownParentContainer{
    background-color: #eeeeee;
}

.headerGrid{
    background-color: #eeeeee;
}

.diceContainer{
    background-color: #eeeeee;
}