body{
    height: 100vh;
    background: linear-gradient(
        #FBD000,
        #43B047
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}

.button {
    background-color: #f6efd0;
}

.diceDropDownParentContainer{
    background-color: #f6efd0;
}

.headerGrid{
    background-color: #f6efd0;
}

.diceContainer{
    background-color: #f6efd0;
}