body{
    background: linear-gradient(
        /*#ff6e6a*/#e92e3d,
        #0000ff
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}
