body{
    height: 100vh;
    background: linear-gradient(
        #f6b1d0,
        #e63674
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}

.button {
    background-color: #f1cfdf;
}

.diceDropDownParentContainer{
    background-color: #f1cfdf;
}

.headerGrid{
    background-color: #f1cfdf;
}

.diceContainer{
    background-color: #f1cfdf;
}