body{
    height: 100vh;
    background: linear-gradient(
        #1dd4b7,
        #6EADBF
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}

.button {
    background-color: #def5f1;
}

.diceDropDownParentContainer{
    background-color: #def5f1;
}

.headerGrid{
    background-color: #def5f1;
}

.diceContainer{
    background-color: #def5f1;
}