/* "." signifies the class and "#" signifies the id value being referenced in the html files*/
/* This stylesheet only impacts the game.html page. There is a seperate style sheet for the index.html page.*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*When you set an element's box-sizing to border-box, it means that the element's specified width and height include the padding and border. In other words, the padding and border are included within the box, and they do not increase the overall dimensions of the element.*/
}

@media only screen and (max-width: 2499px){
    h1 {
        font-size: 7.5vw; /* Adjust for screens between 1800px and 2499px*/
    }
}

@media only screen and (max-width: 1799px){
    h1 {
        font-size: 10vw; /* Adjust for screens smaller than 1799px */
    }
}

@media only screen and (max-width: 1199px){
    h1 {
        font-size: 11.5vw; /* Adjust for screens smaller than 1799px */
    }
}

@media only screen and (max-width: 999px){
    h1 {
        font-size: 13vw; /* Adjust for screens smaller than 1799px */
    }
}

@media only screen and (max-width: 599px){
    h1 {
        font-size: 11.5vw; /* Adjust for screens smaller than 1799px */
    }
}
*/
body{
    height: 100vw;
    padding: 0;
    margin: 0;
}

.logoContainer{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#index_logo{
    padding: 5vw 5vw 0 5vw;
}

#index_logo img{
    max-width: 80vw;
    height: 10vw;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 70%;
    max-width: 800px;
    position: relative;
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    flex-shrink: 0;
    width: auto;
    max-width: 90vw;
    text-align: center;
    margin: 5vw auto 2.5vw auto;
}

#muteButton{
    position: absolute;
    top: 0;
    left: 0;
    color: #646464;
    border: none;
    cursor: pointer;
    font-size: 5vw;
    padding: 2%;
    margin: 3vw;
    z-index: 1; /* Ensure the button appears above other elements */
    background-color: #ffffff;
    border-radius: 1vw;
}

.headerGrid{
    position: relative; /* Make this the positioning context */
    flex: 1;
    display: flex;
    justify-content: center; /* Centers the .box elements horizontally */
    align-items: center;
    gap: 3vw;
    border: .5vw transparent;
    border-radius: 2vw;
    padding: 3vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.box{
    width: 45%;
    margin: 0;
}

#main_character_img{
    width: 100%;
}

#main_character_img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    float: left;
}

#selected-space-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 15%;
    height: auto;
    z-index: 1;   /* Ensure it appears above other elements */
}

#selected-space-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*#character-name{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}*/

h1{
    font-family: sans-serif;
    color: #ffffff;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 5vw;
}

.starCoinContainersWrapper{
    gap: 1%;
    justify-content: center;
    margin-left: 2.5vw;
}

.container, .diceDropDownParentContainer{
    display: flex;
    align-items: center;
    padding: 1vw;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 40vw;
    text-align: center;
}

.dropDownContainer{
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 1.5vw;
    margin: .5vw;
    cursor: pointer;
}

.dropDownContainer:has(#turn_drop_down) * { /*This disables the click option for the dropdown only for the turn drop down menu*/
    pointer-events: none;
}

.image{
    width: 12.5vw;
    cursor: pointer;
}

.starCoinDropdown{
    width: 40%;
    box-sizing: border-box;
    border-style: none;
    font-size: 7vw;
    color: black;
    appearance: none; /* Reset default browser styling */
    -webkit-appearance: none; /* WebKit browsers (Chrome, Safari) */
    -moz-appearance: none; /* Firefox */
    /*background-image: url('images/drop_down_arrow.png');*/
    background-image: url('images/transparent_drop_down_arrow.png');
    background-size: .25em; /* Adjust the size of the arrow */
    padding-right: .35em;
    background-repeat: no-repeat;
    background-position: right;
    background-color: inherit;
    text-align: center;
    text-align-last: center;
    cursor: pointer;
}

.starCoinDropdown option{
    background-color: white;
}

.dropDownItemParentContainer {
    display: flex; /* Activate flexbox layout */
    justify-content: center; /* Align items horizontally at the center */
    gap: 1.5vw; /* Add spacing between items */
    margin: 0 auto; /* Center the container itself horizontally */
}

.itemContainersWrapper {
    display: flex; /* Flexbox layout for the item containers */
    flex-direction: row; /* Ensure items are arranged horizontally */
    justify-content: center; /* Center the items */
    align-items: center; /* Align items vertically */
    gap: 2vw; /* Add space between item containers */
}

/*
.itemContainer{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    margin: 1vw;
}*/

.itemContainer select{
    width: 5vw; /* Adjusts the width of the dropdown to fill its parent container */
    height: 5vw; /* Adjusts the height of the dropdown */
    overflow: hidden; /* Hide overflowed text */
    font-size: 1.2rem; /* Optional: Adjusts the font size for readability */
    padding: 0.5vw; /* Optional: Adds some padding inside the dropdown */
    color: transparent; /* Hide the selected text */
}

.itemDropDownContainer{
    position: relative; /* Make this the positioning context */
    display: flex;
    gap: 1.5vw;
    width: auto;
    align-items: center;
    justify-content: center;
}

/*.itemDropDownContainer img{
    /*flex-shrink: 0; /* Prevents the image from resizing */
    /*width: auto; /* Maintain the image's original aspect ratio */
    /*height: auto; /* Maintain the image's original aspect ratio */
    /*max-width: 12.5vw; /* Optional: Ensure the image doesn't exceed this size */
    /*max-height: 12.5vw; /* Optional: Maintain proportionality */
/*}*/

.itemDropDownContainer select {
    flex-grow: 1; /* Optional: Makes the dropdown fill the available space */
    max-width: 100%; /* Prevents overflow */
    height: auto;
    padding: 0.5vw; /* Adjust for better alignment */
}

#diceThumbnailContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; /* Pass clicks through */
}

#diceThumbnailContainer img {
    position: absolute;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%);
}

.diceThumbnail{
    pointer-events: auto; /* Thumbnails remain clickable */
}

.diceContainer{
    width: 80vmin;
    height: 80vmin;
    max-width: 700px;
    max-height: 700px;
    padding: 7vmin;
    margin: 5% auto 5% auto;
    box-shadow: 0 3vmin 7vmin rgba(50, 50, 50, 0.2);
    border-radius: 50%;
    font-family: "Poppins", sans-serif;
    position: relative;
    border-radius: 50%;
    overflow: hidden; /* Ensures thumbnails don't extend outside the circle */
}

.dice-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.diceDropDownParentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    padding: 1vw;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 5vw;
    width: 5vw;
    text-align: center;
    background-color: transparent;
    margin: auto;
}

.diceDropDownContainer{
    display: flex; /* Enables flexbox */
    align-items: center; /* Vertically centers content within the container */
    justify-content: center; /* Horizontally centers content */
    background-color: transparent;
}

.diceDropdown{
    position: absolute; /* Ensure it can be styled properly */
    top: 5%;
    right: 5%;
    box-sizing: border-box; /* Ensures consistent sizing */
    border-style: none; /* Removes default border */
    appearance: none; /* Hides default arrow */
    -webkit-appearance: none; /* Hides arrow in WebKit browsers */
    -moz-appearance: none; /* Hides arrow in Firefox */
    pointer-events: auto;
    /* Background properties for the dice dropdown image */
    /*background-image: url('images/drop_down_arrow.png');*/ /* Path to the arrow image */
    background-image: url('images/dice_dropdown_logo.png');
    background-size: 10%;
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the arrow both horizontally and vertically */

    /* Dropdown dimensions */
    width: 100%; /* Match parent width */
    height: 3em; /* Adjust as needed for desired height */
    background-color: transparent;

    /* Optional styling for placeholder text */
    color: transparent; /* Hides text to focus on arrow */
    line-height: 3em; /* Centers text vertically if text becomes visible */
    padding-right: 2em; /* Ensures padding on the right for alignment */
}

.diceDropdown option{
    background-color: white;
}

.dropdown option, .dropdown option{
    background-color: white;
}

.button-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.itemDropdown{
    position: absolute; /* Position relative to the nearest relative ancestor */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    transform: translate(0%, 0%); /* Optional: add some offset to make it overlap nicely */
    box-sizing: border-box;
    border-style: none;
    appearance: none; /* Reset default browser styling */
    -webkit-appearance: none; /* WebKit browsers (Chrome, Safari) */
    -moz-appearance: none; /* Firefox */
    background-image: url('images/drop_down_triangle.png');
    background-size: 50%; /* Scale the arrow relative to the container */
    background-repeat: no-repeat;
    background-position: right bottom; /* Keep arrow at the bottom-right */
    background-color: inherit;
    width: 100%; /* Ensure dropdown width matches container */
    height: 3em; /* Allow height to adjust naturally */
    line-height: .5em; /* Align text vertically inside the dropdown */
    padding-right: 2em; /* Add padding to ensure arrow does not overlap text */
}

.itemDropdown option{
    background-color: white;
}

#die-0{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
}

.shake{
    animation: shake 0.1s infinite;
}

@keyframes shake{
    0%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

#image-description{
    display: none; /* Hide the item description initially */
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 2vw;
    cursor: pointer;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#total-moves-modal{
    display: none;
}
  
#total-moves-modal h2{
    text-align: center;
}

h3 {
    font-size: 7vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
  
#total-moves-modal p{
    text-align: center;
    font-size: 30px;
}
  
#total-moves-modal .modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 70%;
    max-width: 800px;
    position: relative;
    font-family: "Poppins", sans-serif;
}
  
#total-moves-modal .close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    cursor: pointer;
    font-size: 30px;
}

#total-moves-modal .close:hover,
#total-moves-modal .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#spaceModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#spaceModal .modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 70%;
    max-width: 800px;
    position: relative;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space-option{
    width: 12vw;
    height: 12vw;
    margin: 3vw;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;
    border-radius: 2vw;
    padding: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 15vw;
    width: 40vw;
    font-size: 5.5vw;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0 auto;
    white-space: nowrap;
    text-decoration: none; /* Remove underline */
    color: inherit;
    text-align: center;
    justify-content: center;
}

#reset-game-button{
    background-color: white;
    margin: 10% auto;
}

#hiddenBlockModal{
    display: none;
    position: fixed;
    z-index: 1001; /* Higher than spaceModal */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#hiddenBlockModal .modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 70%;
    max-width: 800px;
    text-align: center;
    font-size: 1.5rem;
}

.hidden-block{
    height: auto;
    width: 25vw;
    margin: 3vw;
}

.close-button{
    position: absolute;
    right: 0;
    top: 0; 
    margin: 2vw;
    cursor: pointer;
    font-size: 1rem;
}

h4{
    font-size: 6vw;
    font-weight: normal;
}