body{
    height: 100vh;
    background: linear-gradient(
        #73a244,
        #58a70a
    ) 0 100% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* This makes the background fixed and extend beyond the initial viewport */
}

.button {
    background-color: #bbd1a5;
}

.headerGrid{
    background-color: #bbd1a5;
}

.diceContainer{
    background-color: #bbd1a5;
}